.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiAppBar-root.MuiAppBar-colorTransparent.MuiAppBar-positionStatic.css-8n8nf3 {
    display: none;
}

.MuiStack-root.css-re6zm5 {
    background-color: #28303E;
}

/* .MuiStack-root.watermark.css-1705j0v {
    display: none;
    background-color: #0e1116;
    color: #0e1116;
} */

.step.MuiBox-root.css-7kdxxp {
    background-color: #28303E;
}